@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
    background-color: #14121b;
    color: #fff;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

section {
    place-content: center;
    display: grid;
    margin: 50px auto;
    height: 100%;
}

.box {
    height: 210px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #3e3e3e;
}

.title {
    background-color: #3e3e3f;
    height: 30px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}

.info {
    padding: 20px;

}

p {
    margin-top: 1px;
    margin-bottom: 2px;
}

.net {
    height: 40px;
    width: 300px;
    margin-left: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: #33ab4e;
}